<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My personal blog page about programming.">

    <link rel="stylesheet" href="/static/styles.css">

    <title>Dev Dock</title>
  </head>

  <body class="bg-white dark:bg-black dark:text-white">
    <div class="m-8 text-center">
      {% block content %}{% endblock content %}
    </div>
  </body>
</html>
