{% extends "base" %}

{% block content %}
  <h1>Container status</h1>
  <p>{{ port }}</p>

  <div class="mx-4">
    <a href="/create">Create</a>
    <a href="/delete">Delete</a>
    <a href="/start">Start</a>
    <a href="/stop">Stop</a>
  </div>
{% endblock content %}
